*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


html{
   
    color:#000;
    font-family: 'lato','Arial',sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}


header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0,0.7)), url(../img/hero.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

h1{
    margin: 0px;
    color: #ffffff;
    font-weight: 100;
    font-size: 240%;
    letter-spacing: 1px;
    word-spacing: 4px;
    text-transform: uppercase;
}

.hero-box{
    width: 1140px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


